.text-gradient {
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.tagline {
	font-size: calc(50px + 2vmin);
}
.headertext {
	line-height: calc(1em + 2vmin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Array', sans-serif; */
}

body {
	font-family: 'Satoshi', sans-serif;
	@apply selection:bg-gray-400;
}

.App {
	text-align: center;
}

.fontcalc {
	font-size: calc(5px + 2vmin);
}


@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.backdrop-blur-sm {
		background-color: rgba(17, 24, 39, 0.8);
	}
}

.rise-wrapper {
	overflow: hidden;
	position: relative;
}

@keyframes rise {
	0% {
		transform: translate3d(0, 110%, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.rise-anim {
	/*white-space: pre;*/
	transform: translate3d(0, 110%, 0);
	opacity: 0;
	animation-name: rise;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-duration: 1000ms;
	animation-delay: var(--delay);
	animation-fill-mode: forwards;
}

.slide-wrapper {
	overflow: hidden;
	position: relative;
}

@keyframes slide {
	0% {
		transform: translate3d(150%, 0, 0);
		opacity: 0;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.slide-anim {
	/*white-space: pre;*/
	transform: translate3d(150%, 0, 0);
	opacity: 0;
	animation-name: slide;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-duration: 1000ms;
	animation-delay: var(--delay);
	animation-fill-mode: forwards;
}

a {
	@apply transition-all duration-500 border-b-2 p-0 border-gray-500 hover:border-white;
}

.prose a {
	--un-text-opacity: 1;
  	color: rgba(255, 255, 255, var(--un-text-opacity));
}

::-webkit-scrollbar {
	display: none;
}

scrollbar {
	scrollbar-width: none;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	animation-delay: 1s;
	/* display: inline-block; */
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}

/* @font-face {
	font-family: 'Array';
	src: url('../array-bold-sub.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Satoshi';
	src: url('/Satoshi-Variable.woff2') format('woff2-variations');
	font-weight: 300 900;
}
