@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .tagline {
    font-size: calc(20px + 2vmin)
  }
  .headertext {
    line-height: calc(1em + 2vmin)
  }
}

* {
  font-family: 'Poppins', sans-serif;
  @apply selection:bg-gray-400
  
}

.App {
  text-align: center;
}

.fontcalc {
  font-size: calc(10px + 2vmin);
}

.App-header {
  margin-left:auto;
  margin-right:auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 85vw
}